.main {
    max-width: 80%;
    margin: auto;
    padding-top: 50px;
}

.postList {
    display: flex;
    flex-wrap: wrap;
    gap: 74px;
}

.header {
    background-color: var(--orange);
    height: 5rem;
}

.container {
    max-width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100%;
}

.button {
    background-color: var(--orange);
    border-radius: 40px;
    padding: 12px 24px;
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    font-family: Inter;
    cursor: pointer;
}

.pill {
    color: var(--orange);
    font-size: 14px;
    font-family: Inter;
    font-weight: 700;
    background-color: rgba(255, 102, 0, 0.08);
    border-radius: 16px;
    padding: 5px 10px 5px 10px;
    letter-spacing: 1px;
    flex-shrink: 0;
}

.pill:last-of-type {
    margin-left: auto;
}

.pill:first-of-type {
    margin-right: 21px;
}