.main {
    max-width: 80%;
    margin: auto;
    padding-top: 50px;
}

.postList {
    display: flex;
    flex-wrap: wrap;
    gap: 74px;
}
.navbar {
    background-color: var(--orange);
    height: 5rem;
}

.container {
    max-width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100%;
}