.title {
    color: var(--blog);
    font-family: Inter;
    font-weight: 600;
    font-size: 24px
}

.text {
    color: var(--blog);
    font-weight: 700;
    font-family: Advent Pro;
    line-height: 24px;
    font-size: 16px;
    padding-bottom: 37px;
    padding-top: 12px;
}

.previewImg {
    object-fit: fill;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 21px;
}

.info {
    display: flex;
    flex-direction: row;
    padding-top: 16px;
    padding-bottom: 16px;
}

.preview {
    display: flex;
    flex-direction: column;
    max-width: 344px;
    padding: 15px;
    border-radius: 10px;
    transition: background-color 150ms linear;
}

.preview:hover {
    background-color: rgba(255, 102, 0, 0.08);
}

.details {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.date {
    font-size: 14px;
    font-family: Inter;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--grey);
}

.previewDate {
    display: none;
}

.postTitle {
    color: var(--orange);
    font-size: 28px;
    font-family: Inter;
    font-weight: 600;
    line-height: 45px; 
}

.body {
    color: var(--black);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    font-family: Advent Pro, sans-serif;
    letter-spacing: 1px;
}

.place {
    color: var(--blog);
    font-size: 18px;
    font-family: Inter;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 24px;
}

.eventDetails {
    color: var(--orange);
    font-size: 18px;
    font-family: Inter;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    line-height: 24px;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 900px) 
and (orientation: portrait) {
  .description {
    display: none;
  }
  .previewDate {
    display: unset;
  }
}

.item {
    display: flex;
    flex-direction: column;
}

.previewSection {
    display: flex;
    justify-content: center;
}

.sectionContent {
    text-align: center;
    width: 50%;
}

.sectionBody {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    margin: auto;
    width: 50%;
    flex-direction: column;
}

.link {
    text-decoration: none;
}


